<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="12">
        <el-col :span="24" style="margin-bottom: 10px;">

          <el-row type="flex" class="row-bg" justify="center" align="middle">
            <el-col :span="6">
              <el-upload
                class="upload-demo"
                :action="uploadXmlUrl"
                :limit="10"
                multiple
                :on-success="handleFileUploadSuccess"
                :on-error="handleFileUploadError">
                <el-button size="small" type="primary" icon="el-icon-upload2">Загрузить</el-button>
              </el-upload>
            </el-col>
            <el-col :span="6">
              <el-button type="primary" icon="el-icon-download" @click="handleDownload">Скачать</el-button>
            </el-col>
            <el-col :span="6">
              <el-button type="primary" icon="el-icon-plus" @click="openDialog('add')">Добавить</el-button>
            </el-col>
            <el-col :span="6">
              <el-button type="primary" icon="el-icon-edit" @click="openDialog('edit')">Изменить</el-button>
            </el-col>
            <el-col :span="6">
              <el-button type="primary" icon="el-icon-delete" @click="handleRemove">Удалить</el-button>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="24">
          <el-table
            ref="filesTableRef"
            :data="filesTable"
            border
            style="width: 100%"
            @selection-change="handleSelectionChange">
            <el-table-column
              type="selection"
              align="center"
              width="40">
            </el-table-column>
            <el-table-column
              align="center"
              prop="name"
              label="Наименование файла">
            </el-table-column>
            <el-table-column
              align="center"
              prop="version"
              label="Версия файла"
              width="150">
            </el-table-column>
            <el-table-column
              align="center"
              prop="editTime"
              label="Дата изменения"
              width="150"
              :formatter="editTimeFormatter">
            </el-table-column>
          </el-table>

          <el-dialog title="Добавить запись" :visible.sync="fileFormDialogShow" width="300px">
            <el-form :model="fileForm">
              <el-form-item label="Наименование файла">
                <el-input v-model="fileForm.name" auto-complete="off"></el-input>
              </el-form-item>
              <el-form-item label="Версия файла">
                <el-input v-model="fileForm.version" auto-complete="off"></el-input>
              </el-form-item>
              <el-form-item label="Дата изменения">
                <el-date-picker
                  v-model="fileForm.editTime"
                  type="datetime"
                  placeholder="Выберите дату и время">
                </el-date-picker>
              </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
              <el-button @click="fileFormDialogShow = false">Отмена</el-button>
              <el-button type="primary" @click="handleAddRecord" v-if="fileFormDialogType === 'add' ">Добавить</el-button>
              <el-button type="primary" @click="handleUpdateRecord" v-if="fileFormDialogType === 'edit' ">Сохранить</el-button>
            </span>
            <p style="color: red; margin: 0" v-show="fileFormDialogError !== '' ">{{fileFormDialogError}}</p>
          </el-dialog>

        </el-col>
      </el-col>
      <el-col :span="12">
        <el-col :span="24" style="margin-bottom: 10px;">
          <el-button type="primary" @click="handleClearLog">Очистить лог</el-button>
        </el-col>
        <el-col :span="24">
          <el-table
            :data="logs"
            border
            style="width: 100%">
            <el-table-column
              align="center"
              prop="dateTime"
              label="Время"
              width="140"
              :formatter="editTimeFormatter">
            </el-table-column>
            <el-table-column
              align="center"
              prop="actionType"
              label="Действие"
              width="170"
              :formatter="actionTypeFormatter">
            </el-table-column>
            <el-table-column
              align="center"
              prop="message"
              label="Сообщение">
            </el-table-column>
          </el-table>
        </el-col>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import {HTTP} from '../http-common.js'
  export default {
    name: 'Main',
    data () {
      return {
        fileForm: {
          id: 0,
          name: '',
          version: '',
          editTime: ''
        },
        fileFormDialogShow: false,
        fileFormDialogType: '',
        fileFormDialogError: '',
        filesTable: [],
        filesTableSelection: [],
        uploadXmlUrl: '',

        logs: []
      }
    },

    created () {
      HTTP.get('api/fileRecords')
        .then(response => {
          this.filesTable = response.data
        })
        .catch(e => {
          console.log(e);
        });

      this.updateLog();

      this.uploadXmlUrl = HTTP.defaults.baseURL + 'api/xml/UploadFile';
    },

    methods: {
      handleAddRecord (e) {
        let checkResult = this.checkFileForm();
        if (checkResult.status !== true) {
          this.fileFormDialogError = checkResult.message;
          return;
        }
        this.fileFormDialogError = '';

        HTTP.post('api/fileRecords', this.fileForm)
          .then(function (response) {
            this.filesTable.push(response.data);
            this.clearFileForm();
            this.fileFormDialogShow = false;
            this.$message.success('Запись добавлена!');
            this.updateLog();
          }.bind(this))
          .catch(e => {
            console.log(e);
          });
      },

      handleUpdateRecord () {
        let checkResult = this.checkFileForm();
        if (checkResult.status !== true) {
          this.fileFormDialogError = checkResult.message;
          return;
        }
        this.fileFormDialogError = '';

        HTTP.put('api/fileRecords/' + this.fileForm.id, this.fileForm)
          .then(function (response) {
            let updateIndex = this.filesTable.findIndex(i => i.id === response.data.id);
            this.filesTable[updateIndex] = response.data;
            this.$refs.filesTableRef.clearSelection();
            this.clearFileForm();
            this.fileFormDialogShow = false;
            this.$message.success('Запись обновлена!');
            this.updateLog();
          }.bind(this))
          .catch(e => {
            console.log(e);
          });
      },

      handleRemove () {
        if (this.filesTableSelection.length > 0) {
          let ids = this.filesTableSelection.map((item) => { return item.id });
          HTTP.delete('api/fileRecords?ids=' + ids.join('&ids='))
            .then(function (response) {
              this.filesTable = this.filesTable.filter((item) => { return !response.data.includes(item.id) });
              this.$message.success('Запись удаленна!');
              this.updateLog();
            }.bind(this))
            .catch(e => {
              console.log(e);
            });
        } else {
          this.$message.warning('Нужно выбрать записи!');
        }
      },

      handleDownload () {
        if (this.filesTableSelection.length > 0) {
          let ids = this.filesTableSelection.map((item) => { return item.id });
          window.location.href = HTTP.defaults.baseURL + 'api/xml/download?ids=' + ids.join('&ids=');
          this.updateLog();
        } else {
          this.$message.warning('Нужно выбрать записи!');
        }
      },

      handleFileUploadSuccess (response, file, fileList) {
        this.filesTable.push(response);
        this.$notify({
          title: 'Файл ' + file.name + ' обработан',
          message: 'Запись добавлена в базу данных',
          type: 'success'
        });
        this.updateLog();
      },

      handleFileUploadError (err, file, fileList) {
        this.$notify({
          title: 'Файл ' + file.name + ' обработан',
          message: err.message,
          type: 'error'
        });
      },

      handleSelectionChange (selection) {
        this.filesTableSelection = selection;
      },

      handleClearLog () {
        HTTP.delete('api/logs/')
          .then(function (response) {
            this.updateLog();
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      },

      updateLog () {
        HTTP.get('api/logs')
          .then(response => {
            this.logs = response.data
          })
          .catch(e => {
            console.log(e);
          });
      },

      openDialog (type) {
        if (type === 'add') {
          this.fileFormDialogType = type;
          this.fileFormDialogShow = true;
        }
        if (type === 'edit') {
          if (this.filesTableSelection.length === 1) {
            this.fileFormDialogType = type;
            this.fileFormDialogShow = true;

            this.fileForm.id = this.filesTableSelection[0].id;
            this.fileForm.name = this.filesTableSelection[0].name;
            this.fileForm.version = this.filesTableSelection[0].version;
            this.fileForm.editTime = this.filesTableSelection[0].editTime;
          } else {
            this.$message.warning('Нужно выбрать только одну запись!');
          }
        }
      },

      checkFileForm () {
        let result = {
          status: true,
          message: ''
        };

        if (this.fileForm.name.length < 1) {
          result.status = false;
          result.message = 'Введите имя';
        }

        if (this.fileForm.version.length < 1) {
          result.status = false;
          result.message = 'Введите версию';
        }

        if (this.fileForm.editTime === '') {
          result.status = false;
          result.message = 'Введите дату изменения';
        }

        return result;
      },

      clearFileForm () {
        this.fileForm.id = 0;
        this.fileForm.name = '';
        this.fileForm.version = '';
        this.fileForm.editTime = '';
      },

      editTimeFormatter (row, column, cellValue) {
        let d = new Date(cellValue);
        let result = '';
        result = d.getUTCFullYear() + '.' +
          this.addZero(d.getUTCMonth() + 1) + '.' +
          this.addZero(d.getUTCDate()) + ' ' +
          this.addZero(d.getHours()) + ':' +
          this.addZero(d.getMinutes()) + ':' +
          this.addZero(d.getSeconds());
        return result;
      },

      addZero (val) {
        if (val < 10) {
          return '0' + val.toString();
        } else {
          return val.toString();
        }
      },

      actionTypeFormatter (row, column, cellValue) {
        let captions = [
          'Вход',
          'Запись добавлена',
          'Запись отредактирована',
          'Запись удалена',
          'Файл загружен',
          'Файл скачан'
        ];
        return captions[cellValue];
      }
    }
}
</script>
